<%= form_for [@tour,Point.new], :remote => true do |f| %>
<p>
	<%= f.label :name  %>
	<%= f.text_field :name, :size => 60 %>
	<%= f.label :longitude %>
	<%= f.text_field :longitude, :size => 10 %>
	<%= f.label :latitude %>
	<%= f.text_field :latitude, :size => 10 %>
	
</p>	

<%= f.submit 'Add this Point' %> <%= link_to 'close','#', :id => 'close_new_task_link', :style => 'display:none' %>
<% end %>