<%= form_for [@tour,Point.new], :remote => true do |f| %>
<p>
	<%= f.label :name  %>
	<%= f.text_field :name, :size => 60 %>
</p>	

<%= f.submit 'Add this task' %> <%= link_to 'close','#', :id => 'close_new_task_link', :style => 'display:none' %>
<% end %>