<div id="nav">
	<h1><%= @tour.name %></h1>
	<%= link_to 'edit', edit_tour_path(@tour) %> |
	<%= link_to 'reorder', sort_points_path(@tour) %> |
	<%= link_to 'all tours', tours_path %>
</div>	


<% gmaps4rails(@points) %>

<script type="text/javascript" charset="utf-8">
/*
var marker = null;
function gmaps4rails_callback() {
   

   if (marker != null) { marker.setMap(null); }

   google.maps.event.addListener(Gmaps4Rails.map, 'click', 
   function(object){ 

	// alert('lat: ' + object.latLng.lat() + ', long: ' + object.latLng.lng());
	//	var bounds = Gmaps4Rails.map.getBounds();
	//	Gmaps4Rails.map.fitBounds(bounds);
 	// Gmaps4Rails.clear_markers();	
		marker = new google.maps.Marker({position: object.latLng, map: Gmaps4Rails.map});
  		Gmaps4Rails.add_markers(marker);
	});
	
	if (Gmaps4Rails.markers.length == 1) {
    	//only one marker, choose the zoom level you expect
		Gmaps4Rails.map_options.auto_zoom = false;
    //	Gmaps4Rails.map.setZoom(5);
    	alert('here')

   }
   else{
    	//more than one marker, let's auto_zoom
    	Gmaps4Rails.map_options.auto_zoom = true;
    	Gmaps4Rails.adjust_map_to_bounds();
   }


}
*/
   
</script>

<%= gmaps("markers" => {"data" => @starts, "options"  => {"list_container" => "markers_list"} },"map_options" => {"auto_zoom" => "false","auto_adjust" => "true", "bounds" => @bounds } ) %>




<ul id="markers_list">  </ul>

<div>
	<p id="add-point">
		<%= link_to 'add a new point', new_tour_point_path(@tour), :id => 'new_point_link' %> 
		<span id="delete-tour">or <%= link_to 'delete this tour', @tour, :method => :delete, :confirm => 'Are you sure?' %></span>
	</p>
	<div id="new_point_form" style="display:none" data-show-form="<%= params[:show_point_form] ? 1 : 0 %>">
		<%= render :template => '/points/new', :layout => nil %>
	</div>	
</div>

<div id="completed-points">
	<%= render :partial => "completed_points" %>
</div>

